@charset "UTF-8";

* { margin: 0; padding: 0;box-sizing: border-box; }
body {
    background: #6699CC;
}
.template-wrap {
    width: 1100px;
    margin: auto;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.template-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.loading-item {
    float: left;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    text-align: center;
    background: #369;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.loading-item:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.3) inset;
}
.block {
    width: 1080px;
}


.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background: #369;
    display: none;
}
.showloading {
    width: 150px;
    height: 150px;
    line-height: 150px;
    vertical-align: middle;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999999;
    transform: translate(-50%,-50%);
}
